$color-border: #eee;
$color-primary: #485eeb;
$shadow-color:rgba(197, 197, 197, 0.2);

//文字溢出不换行
@mixin ellipsis($line:2){
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp:$line;
  -webkit-box-orient: vertical;
}

@mixin shadow(){
  box-shadow: 0px 4px 6px 0px $shadow-color;
}

@mixin scroll() {
  /* 清除滑条样式 */
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: none;
  }

  /*chrome--------------------------------------------start*/
  &::-webkit-scrollbar {
    width: 0px;
    height: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
    border-radius: 6px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    // background: rgba(201, 201, 202, 1);
    border-radius: 6px;
    transition: all 0.2s;
  }

  /* Handle on hover */
  &:hover {
    &::-webkit-scrollbar-thumb {
      // background: rgba(162, 162, 163, 1);
      background: rgba(201, 201, 202, 1);
    }
  }
  /*chrome--------------------------------------------end*/
  /*IE--------------------------------------------start*/
  & {
    /*三角箭头的颜色*/
    scrollbar-arrow-color: #c0c4cc;
    /*滚动条滑块按钮的颜色*/
    scrollbar-face-color: #A2A2A3;
    /*滚动条整体颜色*/
    scrollbar-highlight-color: #A2A2A3;
    /*滚动条阴影*/
    scrollbar-shadow-color: #A2A2A3;
    /*滚动条轨道颜色*/
    scrollbar-track-color: #f4f4f5;
    /*滚动条3d亮色阴影边框的外观颜色——左边和上边的阴影色*/
    scrollbar-3dlight-color: #A2A2A3;
    /*滚动条3d暗色阴影边框的外观颜色——右边和下边的阴影色*/
    scrollbar-darkshadow-color: #A2A2A3;
    /*滚动条基准颜色*/
    scrollbar-base-color: #f4f4f5;
  }
}